body {
    background-color: lavender
}

p {
    background-color: rgb(67, 67, 97);
    color: white;
    font-size: 20px;
    font-family: "Kristen ITC Regular, Verdana, sans-serif";
}

.box {
    border:2px solid black;
    padding: 5px 10px 15px 20px;

}

h1{
    text-align: center;
}

ol{
    list-style: upper-alpha;
}

ul{
    list-style: square;
}

table, th, td {
    border: 1px solid black
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

a {
    text-decoration: none;
    transition: all .4s;
}

a:hover {
    font-size: 20px;
    font-weight: bold;
}

.banner {
    height: 100px;
    width: 1300px;
    background-color: red;
    border-radius: 10px;
}

section {
    display: inline-block;
    margin: 0 1.5%;
    width: 30%;
  }

  
  
/* This is a CSS comment */